# Das ist Gits benutzerspezifische Konfigurationsdatei.
[user]
# Bitte passen Sie die folgenden Zeilen an und kommentieren Sie diese aus:
	name = Danny Festor
	email = danny@festor.info
[init]
	defaultBranch = main
[core]
	excludesfile = /Users/dannyfestor/.config/git/.gitignore_global
	autocrlf = input
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
